@import url("https://fonts.googleapis.com/css?family=Poppins");

@media screen and (max-width: 720px) {
    /*changes reflects on screen with a width of 720px and below*/
}

/* Variables */
:root {
  --font-family: "Poppins";
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #FAF9F6;
  --primary-color: #8E7DBE;
  --secondary-color: #D88C9A;
  --primary-shadow: #bababa;
  --secondary-shadow: #bababa;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
  background-color: #FAF9F6;
}

nav {
    position: static;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.5rem 5.5rem;
    background-color: var(--bg-color);
    /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); */
  }

  nav h1 {
    color: var(--primary-color);
  }
  
  nav a {
    color: var(--primary-color);
    transition: var(--transition);
  }
  nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li {
    font-weight: var(--bold-font);
  }

  .burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
  }

  .hero img {
    border-radius:50%;
    height:400px;
    width:400px;
    max-width:fit-content;
  }
  
  .bio {
    width: 50%;
    /* padding: 0.625rem; */
  }
  
  .bio h1 {
    margin-bottom: var(--bottom-margin);
    font-size:48px;
  }
  
  .bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
    font-size:larger;
  }

  .about {
    background-color: var(--bg-color);
    padding: 1rem 10rem;
    max-width: 68.75rem;
  }
  
  .about h1 {
    margin-bottom: var(--bottom-margin);
    font-size:48px;
    text-align: left;
  }
  
  .about p {
    line-height: var(--line-height);
    padding: 1rem;
  }

  .hobbies {
    background-color: var(--bg-color);
    padding: 1rem 10rem;
  }

  .skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 5rem;
  }
  
  .skill-header {
    margin-bottom: 1rem;
  }
  
  .skills-wrapper img {
    padding: 1.25rem;
  }
  
  .icon {
    width: 11.875rem;
    height: 11.25rem;
  }

  .icon-card {
    background-color: #FAF9F6;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
  }

  .projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
  }
  
  .project-pic {
    width: 65%;
    height: 60%;
  }
  
  .projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .projects-title {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
  }

  .project-container p {
    padding: 0.4rem;
  }
  
  .project-title {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-details {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-card {
    background-color: #FAF9F6;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
  }

  #socials {
    padding-top:3px;
  }
  
  .socicon {
    width: 2rem;
    height: 2rem;
  }

  #footer-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  footer {
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    position:absolute;
    width: 100%;
  }

  .scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
    z-index: 8;
  }
  
  .up-arrow {
    width: 3rem;
    height: 3rem;
  }